<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/links.ejs') %>
    <title>Home</title>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <div class="container-sm border rounded mt-4 shadow p-3 rounded">
      <div class="input-box m-2">
        <form method="post" action="/generate-url" enctype="application/x-www-form-urlencoded">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter URL</label>
            <input type="url" name="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="container-sm border rounded mt-4 shadow p-3 rounded table-responsive">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr class="text-center">
            <th scope="col">No</th>
            <th scope="col">Full Url</th>
            <th scope="col">Shorted</th>
            <th scope="col">Clicks</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% if (typeof allUrls !=='undefined' ) { %>
            <% for( let i=0; i < allUrls.length; i++ ) { %>
              <tr class="text-center">
                <th scope="row"><%= i %></th>
                <td><a href="<%= allUrls[i].fullurl %>">
                    <%= allUrls[i].fullurl %>
                  </a></td>
                <td><a href="<%= allUrls[i].shortid %>">
                    <%= allUrls[i].shortid %>
                  </a></td>
                <td>
                  <%= allUrls[i].clicks %></a>
                </td>
              </tr>
              <% } %>
                <% } %>
        </tbody>
      </table>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>